* { font-family: Arial,sans-serif; }

body { max-width: 80em; padding: 1em; }
#items .content { 
  width: 95%;  display: none; 
  padding-left: 24px;
  padding-top: 0.5em;
  margin: 0;
}

#items .content img {
  max-height: 60vh;
  max-width: 70vw;
}

#items .item[data-read] { display: none; }
#items[data-unread-visible] .item[data-read] { display: block; }
#items[data-unread-visible] .item[data-read] .title { text-decoration: line-through; }


#items .date {
  border-top-style: double; border-bottom-style: double; 
  border-width: 1px 0px;
  margin-top: 1em; margin-bottom: 1em;
  padding-top: 1em; padding-bottom: 1em;  
  padding-left: 10em;
}

#activeitem { 
  border-top-style: solid; border-bottom-style: solid; 
  border-width: 1px 0px;
  margin-top: 2px; margin-bottom: 2px;
  padding-top: 2px; padding-bottom: 2px;
}

#activeitem .title {
  font-weight: bold;
}


#items a:link {color: black; text-decoration: none;}
#items a:visited { color: grey80; }
#items a:hover { color: blue; }

#items .icon { width: 16px; height: 16px; padding-right: 4px; }


#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  line-height: 2em;
  text-align: right;
  padding-top: 1em;
  padding-right: 2em;
}

#header button {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  padding: 0.3em 0.5em;
}
#header .active {
  background-color: darkorange;
}

#feeds td { padding: 0.2em 0.5em; }
#feeds th { padding: 0.5em 0.5em; border-left: 4px solid white; border-right: 4px solid white;  }
#feeds .lastcheck, .lastupd, .nextupd, .unread, .total { text-align: right;}
#feeds thead { background-color: #eee; margin-bottom: 1em;}
#feeds .url { font-size: small;}
#feeds table { border-width: 0; border-collapse: collapse; }
#feeds table tr:nth-child(even) {background-color: #f2f2f2;}
#feeds .icon { width: 16px; height: 16px; }
#feeds .url { display: none; }
#feeds .title:hover + .url { display: block; }
#feeds tr.feed:hover td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#showHelp { padding: 2em; }
#showHelp table { border: 0; border-collapse: collapse; margin: 2em auto;  }
#showHelp table tr:nth-child(even) { background-color: #f2f2f2; }
#showHelp table tr:nth-child(odd) { background-color: #fafafa; }
#showHelp table th { background-color: #ddd; }
#showHelp table td,th { padding: 0.5em 2em; text-align: left; }
#showHelp table td:first-child,th:first-child { text-align: right;}
#showHelp table td.h3 { text-align: center; background-color: silver; padding: 0.5em; font-size: 130%; }

#editFeed { padding: 2em; font-size: 110%; }
#editFeed input { font-size: 100%; padding: 0.4em; margin-left: 2em; }
#editFeed button { padding: 0.5em; font-size: 100%; margin-top: 1em; }
#editFeed button:first-child { border: 3px solid black; }



#cataas { text-align: center;}
#cataas img { max-width: 70vw; max-height: 60vh; padding: 10px; border-width: 2px; border-style: solid; border-color: grey; }
#cataas .title { padding: 2em; }

#indicator-unread-visible { color: green; display: none; }

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
  float: right;
  margin-left: 0.5em;
	margin-top: 7px;
	border-width: 0 0.5em 0.5em;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
  border-width: 0.5em 0.5em 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

